<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-adder" version="1.1.6" 
  xmlns="http://apache.org/cordova/ns/plugins/1.0" 
  xmlns:android="http://schemas.android.com/apk/res/android">
  <name>Adder</name>
  <js-module name="Adder" src="www/Adder.js">
    <clobbers target="cordova.plugins.Adder" />
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="Adder">
        <param name="android-package" value="org.apache.cordova.adder.Adder" />
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml"></config-file>
    <source-file src="src/android/Adder.java" target-dir="src/org/apache/cordova/adder" />
  </platform>
</plugin>